<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgs.mapper.PcMapper">

    <select id="AllArticles" resultType="com.bgs.pojo.Articles">

        select id,headline,creation_time,whether,content from articles

    </select>
    <select id="AllSharingArticle" resultType="com.bgs.pojo.SharingArticle">
        select id,headline,creation_time,content from Sharing_article
    </select>
</mapper>